<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MySongCollection</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">My Song Collection</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/artistlist">Artists <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/songlist">Songs</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/sheetmusiclist">Sheet Music</a>
			</li>
		  </ul>
		  <form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
	</nav>
    <div class="col-md-4" style="padding-bottom:20px">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-light"/>
        </form>
    </div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Artist</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="artist:${artists}">
					<td th:text="${artist.artist}"></td>
					<td><a th:href="@{/deleteartist/{id}(id=${artist.id})}" class="btn btn-danger"
						th:onclick="if(!(confirm('Are you sure you want to delete this artist?'))) return false">Delete</a>
					</td>
					<td><a th:href="@{/editartist/{id}(id=${artist.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/artistsonglist/{id}(id=${artist.id})}" class="btn btn-primary">Show Songs</a></td>
				</tr>
			</tbody>
		</table>
        <div class="col-md-4">
            <a class="btn btn-dark" href="/addartist">Add Artist</a>
        </div>
	</div>
</body>

</html>